
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(//fonts.googleapis.com/css?family=Noto+Serif:400,400italic);

@import 'loading';

$easing: cubic-bezier(0.645, 0.045, 0.355, 1);

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body, html {
  font-family: Lato, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  background: #515866;
  background-image: url('/src/images/landing_background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h2 {
  text-align: center;
  color: white;
}

.ui-description {
  font-size: 2rem;
  margin: 1rem 0;
  text-align:center;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.ui-lead {
  margin-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #20335B;
  padding-left: 10%;
  padding-right: 10%;
}

.ui-options {
  section {    
    .ui-sub {
      text-align: center;
      font-size: 1.5rem;
    }
    img {
      margin-left: 10%;
      max-width: 75%;
    }
    &.sex-options {
      img {
        margin:0;
        max-width: 50%;

        &.male {
          
        }
      }
    }

  }

}

.logo {
    width: 90%;
}

.layout-container {
  width: 100%;
  height: 100%;

  &[data-page="start"] {
    .layout-content {
      justify-content: center;
      align-items: center;
    }
  }

  &[data-page="locations"] {
    .layout-content {
      justify-content: flex-start;
    }
  }

  &[data-page="coffee"] {
    .layout-content {
      justify-content: stretch;
      align-items: center;
    }
  }
}

.layout-main {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  color: white;
  transform-style: preserve-3d;
  perspective: 1000;
  animation: fade-in 0.3s $easing both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.layout-header {
  flex-basis: 50px;
  flex-shrink: 0;
  background: rgba(black, 0.2);
  display: none;
}

.layout-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
}

.ui-coffee {
  height: 12vmax;
  width: 10vmax;
  transform-style: preserve-3d;
  perspective: 100;
  padding: 1rem 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    transform-origin: bottom;
    transform: rotateX(-10deg) scale(0.8);
    border-radius: 3px;
  }
}

.ui-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui-heading {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.ui-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(white, 0.2);
  min-height: 5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;

  &.-static {
    background: transparent;
    pointer-events: none;
    animation: up 0.6s $easing both;
    z-index: -1;
  }
}

@keyframes up {
  from { transform: translateY(100%); opacity: 0;}
  to { transform: initial; opacity: 1;}
}

.ui-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.ui-item {
  flex-basis: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid rgba(white, 0.2);
  padding: 0 1rem;
  text-decoration: none;
  color: white;
  animation: item 0.6s $easing both;

  @for $i from 0 through 8 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.05s;
    }
  }

  > .ui-heading {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@keyframes item {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

.ui-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > .ui-heading {
    font-size: 1.2rem;
    letter-spacing: 0;
    text-transform: none;
    text-align: left;
  }
}

.ui-add {
  &:before {
    content: '+';
    font-size: 3rem;
  }
}

.ui-text {
  font-size: 1rem;
  color: rgba(white, 0.6);
}

.ui-choices {
  margin: 0;
  padding: 0;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;

  > .ui-item {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    color: white;

    &:nth-child(2n + 1) {
      border-right: 1px solid rgba(white, 0.4);
    }

    &:nth-child(n + 3) {
      border-top: 1px solid rgba(white, 0.4);
    }
  }
}

.ui-price {
  font-size: 2rem;
  font-weight: 200;
}

.ui-header {
  padding: 1rem;
  text-align: left;
  align-self: stretch;
  background: rgba(black, 0.2);
  margin-bottom: 1rem;

}

.login-buttons {
    text-align: center;
}

.login-buttons a {
    margin: .2rem;;
}

input {
    margin-top: 1rem;
    font-size: 1.5rem;
    width: 100%;
}

a, img, button {
    margin-top: 1rem;
}

a {
    color: white;
}
